<footer class="text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-non d-lg-block">
        <span>Get connected on LinkedIn!</span>
      </div>

      <div>
        <a href="https://www.linkedin.com/in/brawley-antone-aa748aab/" target="_blank" class="me-4 text-reset">
          LinkedIn Page
        </a>
      </div>
    </section>

    
  </footer>