<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/build/custom_bootstrap.css">
    
</head>
<body class="text-center align-items-center mx-auto" style="max-width: 2000px;">
  <%- include('../partials/nav') %>
  
  <img src="assets/pictures/blackWhite.jpg" class="img-fluid" alt="home_hero">
  
  <div class="container-fluid">
    <div class="row">
      <h1>Welcome to brawleyantone.net</h1>
      <h1 class="text-start">Technologies:</h1>
    </div>
    <div class="row text-center pt-2 pb-2 justify-content-center">
      <div class="col text-start border-end ">
        <h3>AWS: 2 Load-balanced Ubuntu 22.04 Linux VMs</h3>
        <p>For this project I used Amazon Web Services to demonstrate capability in navigating and configuring the cloud services. The web pages that are getting sent to your browser are being sent from 1 of the 2 load-balanced Ubuntu Linux VMs. The VMs use Nginx to serve web-pages using a reverse proxy to provide access to my Node application. In AWS, I have done all the networking configurations to the following: VPC, public subnets and availability zones, cloud gateway, network ACLs, and security groups.</p>
      </div>
      <div class="col-6">
        <img src="assets/pictures/test2.png" class="img-fluid" alt="content_picture" style="max-height: 500px;">
      </div>
      
    </div>

    <div class="row text-center pt-2 pb-2 justify-content-center">
      <div class="col text-start border-end">
        <h3>HTML5, Bootstrap, Node, & Express</h3>
        <p>The front-end of the website was coded using HTML5 and a CSS framework called <strong>Bootstrap</strong>. This framework provides me the ability to code a website faster than if I was to start from scratch. The framework provides pre-defined css classes and built-in media queries that make the site mobile-ready. Mobile-ready means that this website will look just as good on a smaller screen. The back-end was coded using Node.js runtime environment. Along with the library Express.js. For shorthand, everything was coded in <strong>JavaScript</strong>. The back-end utilizes a MVC architecture with the help of Express.js.</p>
      </div>
      <div class="col-6">
        <img src="assets/pictures/latestPng.png" class="img-fluid" alt="content_picture" style="max-height: 500px;">
      </div>
      
    </div>

    



  </div>


  <%- include('../partials/footer') %>

  

  <script src="js/bootstrap.bundle.min.js"></script>
  
</body>
</html>