<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Work Experience</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/build/custom_bootstrap.css">
    </head>
    <body>
        <%- include('../partials/nav') %>
        
        <div class="container" style="max-width: 1000px;">

            <div class="row">
                <div class="col-7 border-end border-dark">
                    <h1 class="display-3">Brawley Antone</h1>
                    <h4>Objective:</h4>
                    <p>Information technology student with 5+ years experience in maintaining and troubleshooting IT infrastructure
                        withing a Windows domain environment with entry-level Linux experience. Seeking Sysadmin or Devops full-time job opportunities starting Spring 2023
                    </p>
                    <h1>Work Experience</h1>
                    <h3 class="m-0">Network Assistant</h3>
                    <p class="m-0 p-0"><small>San Xavier District</small></p>
                    <p class="m-0 p-0"><small>2018 - Present</small></p>
                    <ul>
                        <li>
                            Completely revamped and updated the organization's outdated Microsoft Endpoint Configuration
                            Manager server and WSUS server. This has increased efficiency 50% by providing a centralized
                            solution to device management.
                        </li>
                        <li>
                            Because the SCCM server was upgraded, the department gained the ability to make remote connections, deploy OS images over the network, deploy patches for machines, monitor machine compliance and more.  
                        </li>
                        <li>
                            Used PowerShell scripting within a Windows Enterprise domain environment to extract and document pertinent information on various Windows Server configurations as well as machine and user policies.
                        </li>
                        <li>
                            Deployed a simple network monitoring tool to collect records on device uptime as well as downtime during operations.
                        </li>
                        <li>
                            Received recognition of development skills and working to develop a website for the organization using current back-end and front-end programming skills. Ongoing communication with the client is required in this instance.
                        </li>
                        <li>
                            Documented changes within the infrastructure and updated inventory database. 
                        </li>
                    </ul>

                    <h3 class="m-0">Computer Technician Intern</h3>
                    <p class="m-0 p-0"><small>San Xavier District</small></p>
                    <p class="m-0 p-0"><small>Mar. 2015 - Jun. 2015</small></p>
                    <ul>
                        <li>
                            Assisted technicians with resolving tickets throughout the day across a Windows domain.
                        </li>
                        <li>
                            Fixed problems that end user had with network printers, local printers, hardware components, peripherals, and OS.
                        </li>
                        <li>
                            Provided end-user training for any new hardware that employees obtained through the department. 
                        </li>
                    </ul>
                </div>

                <div class="col">

                    <div class="container text-start p-0 mt-5 mb-5">
                        <p class="p-0 m-0">brawley24antone@gmail.com</p>
                        <p class="p-0 m-0">Tucson, AZ</p>
                        <p class="p-0 m-0">brawleyantone.net</p>
                    </div>
                    <div class="container">
                        <h3 class="border-bottom border-dark">Skills</h3>
                        <p class="p-0 m-0"><strong>Programming/Scripting Languages: </strong>PowerShell, JavaScript, PHP, Python, Bash</p>
                        <p class="p-0 m-0"><strong>Front-end: </strong>HTML, CSS, Bootstrap</p>
                        <p class="p-0 m-0"><strong>Protocols: </strong>DHCP, DNS, HTTP, HTTPS, TCP/IP, FTP, SFTP, SSH, RDP</p>
                        <p class="p-0 m-0"><strong>Tools, Databases, and OS: </strong>Node.JS, NPM, Express.JS, GitHub, SQL, MongoDB, Microsoft's MECM (SCCM), Windows Server, Linux(Ubuntu)</p>
                    </div>
                    <div class="container pt-3">
                        <h3 class="mb-1">Education</h3>
                        <h5 class="m-0 p-0">Bachelor of Science in Information Technology</h5>
                        <p class="m-0 p-0"><small>Arizona State University</small></p>
                        <p class="m-0 p-0"><small>Graduating May 10, 2023</small></p>
                        <ul>
                            <li>
                                Studied programming, enterprise IT infrastructure, web application development, cloud technology, networking, and databases. 
                            </li>
                            <li>
                                GPA 3.73
                            </li>
                        </ul>

                        <h5 class="m-0 p-0">Associate of Arts w/ concentration in Information Technology</h5>
                        <p class="m-0 p-0"><small>University of Phoenix</small></p>
                        <p class="m-0 p-0"><small>Graduated May 10, 2020</small></p>
                        <ul>
                            <li>
                                Studied programming/scripting, office software, computer hardware fundamentals, computer software fundamentals, web application development, and networking.
                            </li>
                            <li>
                                GPA 3.28
                            </li>
                        </ul>


                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
        <%- include('../partials/footer')%>
        
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>